USE [master]
GO
/****** Object:  Database [GreenStockDB1]    Script Date: 7/16/2026 10:13:15 PM ******/
CREATE DATABASE [GreenStockDB1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GreenStockDB1', FILENAME = N'C:\SWP391\GreenStockDB1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GreenStockDB1_log', FILENAME = N'C:\SWP391\GreenStockDB1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GreenStockDB1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GreenStockDB1]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart_Item]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart_Item](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddresses]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[label] [nvarchar](50) NOT NULL,
	[receiver_name] [nvarchar](150) NOT NULL,
	[receiver_phone] [nvarchar](20) NOT NULL,
	[address_details] [nvarchar](255) NOT NULL,
	[is_default] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import_Order]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import_Order](
	[import_order_id] [int] IDENTITY(1,1) NOT NULL,
	[import_date] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[import_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import_Order_Item]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import_Order_Item](
	[import_item_id] [int] IDENTITY(1,1) NOT NULL,
	[import_order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[import_price] [decimal](10, 2) NOT NULL,
	[expired_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[import_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import_Receipt]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import_Receipt](
	[receipt_id] [int] IDENTITY(1,1) NOT NULL,
	[import_date] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[receipt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Import_Receipt_Item]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Import_Receipt_Item](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[receipt_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[manufacture_date] [date] NULL,
	[expiry_date] [date] NOT NULL,
	[batch_number] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[inventory_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[last_updated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventory_Batch]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory_Batch](
	[batch_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[receipt_item_id] [int] NOT NULL,
	[batch_number] [varchar](50) NOT NULL,
	[quantity_in] [int] NOT NULL,
	[quantity_remain] [int] NOT NULL,
	[manufacture_date] [date] NULL,
	[expiry_date] [date] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[batch_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[content] [nvarchar](500) NOT NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[permission_id] [int] IDENTITY(1,1) NOT NULL,
	[permission_code] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](150) NOT NULL,
	[category_id] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[discount_price] [decimal](10, 2) NULL,
	[unit] [nvarchar](50) NULL,
	[origin] [nvarchar](100) NULL,
	[status] [nvarchar](20) NULL,
	[description] [nvarchar](500) NULL,
	[shop_owner_id] [int] NULL,
	[low_stock_threshold] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Category]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Image]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Image](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[image_url] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Packaging]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Packaging](
	[packaging_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[packaging_name] [nvarchar](100) NOT NULL,
	[price_adjustment] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[packaging_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Weight_Variant]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Weight_Variant](
	[variant_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[weight_label] [nvarchar](50) NOT NULL,
	[price_adjustment] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[promo_id] [int] IDENTITY(1,1) NOT NULL,
	[promo_code] [varchar](50) NOT NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[discount_type] [nvarchar](20) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[min_order_value] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResetPasswordToken]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResetPasswordToken](
	[token_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[expiry_time] [datetime] NOT NULL,
	[used] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[token_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](500) NULL,
	[status] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Permission]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Permission](
	[role_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Order]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Order](
	[sale_order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
	[order_status] [nvarchar](30) NOT NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](20) NULL,
	[shipping_address] [nvarchar](255) NULL,
	[shipping_phone] [nvarchar](20) NULL,
	[shipper_id] [int] NULL,
	[shipped_date] [datetime] NULL,
	[delivered_date] [datetime] NULL,
	[shipper_note] [nvarchar](255) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[promo_code] [varchar](50) NULL,
	[shipping_fee] [decimal](10, 2) NULL,
	[total_payment] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale_Order_Item]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale_Order_Item](
	[sale_item_id] [int] IDENTITY(1,1) NOT NULL,
	[sale_order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sale_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[user_info_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](150) NULL,
	[avatar] [nvarchar](255) NULL,
	[gender] [nvarchar](20) NULL,
	[dob] [date] NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_info_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/16/2026 10:13:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([cart_id], [user_id], [created_at]) VALUES (1, 13, CAST(N'2026-06-16T14:19:50.197' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [user_id], [created_at]) VALUES (2, 8, CAST(N'2026-06-18T13:20:19.627' AS DateTime))
INSERT [dbo].[Cart] ([cart_id], [user_id], [created_at]) VALUES (3, 11, CAST(N'2026-06-27T23:58:11.843' AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[CustomerAddresses] ON 

INSERT [dbo].[CustomerAddresses] ([address_id], [user_id], [label], [receiver_name], [receiver_phone], [address_details], [is_default]) VALUES (1, 8, N'Nhà riêng', N'Trần Hữu Vinh', N'0999999999', N'123 Nguyễn Văn Cừ, Quận 5, TP. HCM', 1)
INSERT [dbo].[CustomerAddresses] ([address_id], [user_id], [label], [receiver_name], [receiver_phone], [address_details], [is_default]) VALUES (2, 8, N'Văn phòng', N'Trần Hữu Vinh', N'0999999999', N'Tòa nhà FPT, Khu Công Nghệ Cao, Quận 9, TP. HCM', 0)
INSERT [dbo].[CustomerAddresses] ([address_id], [user_id], [label], [receiver_name], [receiver_phone], [address_details], [is_default]) VALUES (3, 13, N'Công ty', N'Nguyễn Đại Kỳ', N'0976927564', N'Đại Đồng - Đại Mạch  - Đông Anh - Hà Nội', 1)
SET IDENTITY_INSERT [dbo].[CustomerAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Import_Receipt] ON 

INSERT [dbo].[Import_Receipt] ([receipt_id], [import_date], [created_by], [note]) VALUES (1, CAST(N'2026-07-13T22:32:37.060' AS DateTime), 11, N'')
INSERT [dbo].[Import_Receipt] ([receipt_id], [import_date], [created_by], [note]) VALUES (2, CAST(N'2026-07-13T23:11:58.463' AS DateTime), 11, N'')
INSERT [dbo].[Import_Receipt] ([receipt_id], [import_date], [created_by], [note]) VALUES (3, CAST(N'2026-07-13T23:26:35.890' AS DateTime), 11, N'')
SET IDENTITY_INSERT [dbo].[Import_Receipt] OFF
GO
SET IDENTITY_INSERT [dbo].[Import_Receipt_Item] ON 

INSERT [dbo].[Import_Receipt_Item] ([item_id], [receipt_id], [product_id], [quantity], [manufacture_date], [expiry_date], [batch_number]) VALUES (1, 1, 3, 100, CAST(N'2026-07-12' AS Date), CAST(N'2026-07-15' AS Date), N'P3-20260713-R1')
INSERT [dbo].[Import_Receipt_Item] ([item_id], [receipt_id], [product_id], [quantity], [manufacture_date], [expiry_date], [batch_number]) VALUES (2, 2, 13, 10, CAST(N'2026-07-13' AS Date), CAST(N'2026-07-14' AS Date), N'P13-20260713-R2')
INSERT [dbo].[Import_Receipt_Item] ([item_id], [receipt_id], [product_id], [quantity], [manufacture_date], [expiry_date], [batch_number]) VALUES (3, 2, 12, 10, CAST(N'2026-07-13' AS Date), CAST(N'2026-07-14' AS Date), N'P12-20260713-R2')
SET IDENTITY_INSERT [dbo].[Import_Receipt_Item] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([inventory_id], [product_id], [quantity], [last_updated]) VALUES (1, 1, 95, CAST(N'2026-01-27T23:30:12.487' AS DateTime))
INSERT [dbo].[Inventory] ([inventory_id], [product_id], [quantity], [last_updated]) VALUES (2, 2, 220, CAST(N'2026-07-13T23:11:58.530' AS DateTime))
INSERT [dbo].[Inventory] ([inventory_id], [product_id], [quantity], [last_updated]) VALUES (4, 7, 208, CAST(N'2026-06-21T17:06:08.653' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventory_Batch] ON 

INSERT [dbo].[Inventory_Batch] ([batch_id], [product_id], [receipt_item_id], [batch_number], [quantity_in], [quantity_remain], [manufacture_date], [expiry_date], [created_at]) VALUES (1, 3, 1, N'P3-20260713-R1', 100, 0, CAST(N'2026-07-12' AS Date), CAST(N'2026-07-15' AS Date), CAST(N'2026-07-13T22:32:37.113' AS DateTime))
INSERT [dbo].[Inventory_Batch] ([batch_id], [product_id], [receipt_item_id], [batch_number], [quantity_in], [quantity_remain], [manufacture_date], [expiry_date], [created_at]) VALUES (2, 13, 2, N'P13-20260713-R2', 10, 10, CAST(N'2026-07-13' AS Date), CAST(N'2026-07-14' AS Date), CAST(N'2026-07-13T23:11:58.527' AS DateTime))
INSERT [dbo].[Inventory_Batch] ([batch_id], [product_id], [receipt_item_id], [batch_number], [quantity_in], [quantity_remain], [manufacture_date], [expiry_date], [created_at]) VALUES (3, 12, 3, N'P12-20260713-R2', 10, 10, CAST(N'2026-07-13' AS Date), CAST(N'2026-07-14' AS Date), CAST(N'2026-07-13T23:11:58.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventory_Batch] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([notification_id], [user_id], [title], [content], [is_read], [created_at]) VALUES (1, 11, N'Sản phẩm được duyệt', N'Sản phẩm #6 của bạn đã được Admin PHÊ DUYỆT và hiện có thể hiển thị cho khách hàng.', 0, CAST(N'2026-06-21T16:37:24.003' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [title], [content], [is_read], [created_at]) VALUES (2, 11, N'Sản phẩm được duyệt', N'Sản phẩm #7 của bạn đã được Admin PHÊ DUYỆT và hiện có thể hiển thị cho khách hàng.', 0, CAST(N'2026-06-21T16:52:38.187' AS DateTime))
INSERT [dbo].[Notifications] ([notification_id], [user_id], [title], [content], [is_read], [created_at]) VALUES (3, 11, N'Sản phẩm được duyệt', N'Sản phẩm #7 của bạn đã được Admin PHÊ DUYỆT và hiện có thể hiển thị cho khách hàng.', 0, CAST(N'2026-06-21T17:23:47.523' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([permission_id], [permission_code], [description]) VALUES (1, N'VIEW_PRODUCT', N'View product list and details')
INSERT [dbo].[Permission] ([permission_id], [permission_code], [description]) VALUES (2, N'MANAGE_PRODUCT', N'Create, update, delete products')
INSERT [dbo].[Permission] ([permission_id], [permission_code], [description]) VALUES (3, N'MANAGE_INVENTORY', N'Manage inventory quantities')
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([product_id], [product_name], [category_id], [price], [discount_price], [unit], [origin], [status], [description], [shop_owner_id], [low_stock_threshold]) VALUES (1, N'Apple', 5, CAST(65000.00 AS Decimal(10, 2)), CAST(60000.00 AS Decimal(10, 2)), N'kg', N'Vietnam', N'Available', N'Fresh red apples', 11, 10)
INSERT [dbo].[Product] ([product_id], [product_name], [category_id], [price], [discount_price], [unit], [origin], [status], [description], [shop_owner_id], [low_stock_threshold]) VALUES (2, N'Carrot', 5, CAST(35000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'kg', N'Vietnam', N'Available', N'Organic carrots', 11, 10)
INSERT [dbo].[Product] ([product_id], [product_name], [category_id], [price], [discount_price], [unit], [origin], [status], [description], [shop_owner_id], [low_stock_threshold]) VALUES (3, N'Banana', 3, CAST(25000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), N'kg', N'Vietnam', N'Approved', N'Fresh yellow bananas', 11, 10)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Category] ON 

INSERT [dbo].[Product_Category] ([category_id], [category_name]) VALUES (3, N'Trái Cây Mới')
INSERT [dbo].[Product_Category] ([category_id], [category_name]) VALUES (4, N'Trái Cây Nhập Khẩu')
INSERT [dbo].[Product_Category] ([category_id], [category_name]) VALUES (5, N'Trái Cây Nội Địa')
SET IDENTITY_INSERT [dbo].[Product_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Image] ON 

INSERT [dbo].[Product_Image] ([image_id], [product_id], [image_url], [created_at]) VALUES (1, 1, N'https://images.unsplash.com/photo-1560806887-1e4cd0b6cbd6?auto=format&fit=crop&q=80&w=600', CAST(N'2026-01-27T23:30:12.480' AS DateTime))
INSERT [dbo].[Product_Image] ([image_id], [product_id], [image_url], [created_at]) VALUES (2, 2, N'https://images.unsplash.com/photo-1611080626919-7cf5a9dbab5b?auto=format&fit=crop&q=80&w=600', CAST(N'2026-01-27T23:30:12.483' AS DateTime))
INSERT [dbo].[Product_Image] ([image_id], [product_id], [image_url], [created_at]) VALUES (3, 3, N'https://images.unsplash.com/photo-1603833665858-e61d17a86224?auto=format&fit=crop&q=80&w=600', CAST(N'2026-06-21T17:44:08.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product_Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Packaging] ON 

INSERT [dbo].[Product_Packaging] ([packaging_id], [product_id], [packaging_name], [price_adjustment]) VALUES (1, 7, N'Hộp', CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Product_Packaging] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_Weight_Variant] ON 

INSERT [dbo].[Product_Weight_Variant] ([variant_id], [product_id], [weight_label], [price_adjustment]) VALUES (1, 7, N'1kg', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[Product_Weight_Variant] ([variant_id], [product_id], [weight_label], [price_adjustment]) VALUES (3, 10, N'1kg', CAST(10000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Product_Weight_Variant] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([promo_id], [promo_code], [discount_value], [discount_type], [start_date], [end_date], [min_order_value]) VALUES (1, N'FRUIT10', CAST(10.00 AS Decimal(10, 2)), N'Percentage', CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[Promotions] ([promo_id], [promo_code], [discount_value], [discount_type], [start_date], [end_date], [min_order_value]) VALUES (2, N'FREESHIP', CAST(25000.00 AS Decimal(10, 2)), N'Fixed', CAST(N'2026-01-01T00:00:00.000' AS DateTime), CAST(N'2026-12-31T00:00:00.000' AS DateTime), CAST(150000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
INSERT [dbo].[Role_Permission] ([role_id], [permission_id]) VALUES (1, 1)
INSERT [dbo].[Role_Permission] ([role_id], [permission_id]) VALUES (3, 1)
INSERT [dbo].[Role_Permission] ([role_id], [permission_id]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Customer')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (5, N'Delivery')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale_Order] ON 

SET IDENTITY_INSERT [dbo].[Sale_Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale_Order_Item] ON 

INSERT [dbo].[Sale_Order_Item] ([sale_item_id], [sale_order_id], [product_id], [quantity], [unit_price]) VALUES (1, 1, 3, 1, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[Sale_Order_Item] ([sale_item_id], [sale_order_id], [product_id], [quantity], [unit_price]) VALUES (2, 2, 3, 110, CAST(25000.00 AS Decimal(10, 2)))
INSERT [dbo].[Sale_Order_Item] ([sale_item_id], [sale_order_id], [product_id], [quantity], [unit_price]) VALUES (3, 3, 10, 1, CAST(120000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Sale_Order_Item] OFF
GO
INSERT [dbo].[User_Role] ([user_id], [role_id]) VALUES (8, 1)
INSERT [dbo].[User_Role] ([user_id], [role_id]) VALUES (9, 3)
INSERT [dbo].[User_Role] ([user_id], [role_id]) VALUES (11, 4)
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([user_info_id], [user_id], [full_name], [phone], [email], [avatar], [gender], [dob], [address]) VALUES (8, 8, N'trần hữu vinh', N'0999999999', N'thoike2304@gmail.com', NULL, NULL, NULL, NULL)
INSERT [dbo].[UserInfo] ([user_info_id], [user_id], [full_name], [phone], [email], [avatar], [gender], [dob], [address]) VALUES (9, 9, N'trần hữu vinh', N'0999999999', N'vinhthhe176773@fpt.edu.vn', NULL, NULL, NULL, NULL)
INSERT [dbo].[UserInfo] ([user_info_id], [user_id], [full_name], [phone], [email], [avatar], [gender], [dob], [address]) VALUES (10, 11, N'trần hữu vinh', N'0999999999', N'vinhthhe@fpt.edu.vn', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [username], [password], [status]) VALUES (8, N'vinh12345', N'$2a$10$CE/KWFfqH7T/BmzGnSsA4u37ctbC9W2uUXWr9..m5wNZqatDFU13y', N'Active')
INSERT [dbo].[Users] ([user_id], [username], [password], [status]) VALUES (9, N'vinh1234', N'$2a$10$fJVGHjeejDnYmKs1tszB.O5nucgVmxnc1buKZ5SpHGnM5DHMAYW4y', N'Active')
INSERT [dbo].[Users] ([user_id], [username], [password], [status]) VALUES (11, N'vinh123456', N'$2a$10$hkYq0GTA4SWPnsYfwNZ2WuHZKR16GwAWJ3feuH4L.olq0WsTZbrSa', N'Active')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ__Cart__B9BE370EA0E0E866]    Script Date: 7/16/2026 10:13:15 PM ******/
ALTER TABLE [dbo].[Cart] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__A98A808EADA6C390]    Script Date: 7/16/2026 10:13:15 PM ******/
ALTER TABLE [dbo].[Permission] ADD UNIQUE NONCLUSTERED 
(
	[permission_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__C07E2315AE127556]    Script Date: 7/16/2026 10:13:15 PM ******/
ALTER TABLE [dbo].[Promotions] ADD UNIQUE NONCLUSTERED 
(
	[promo_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ResetPas__CA90DA7AF9D15BE3]    Script Date: 7/16/2026 10:13:15 PM ******/
ALTER TABLE [dbo].[ResetPasswordToken] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B1BCB9613B]    Script Date: 7/16/2026 10:13:15 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserInfo__B9BE370E4E683CFD]    Script Date: 7/16/2026 10:13:15 PM ******/
ALTER TABLE [dbo].[UserInfo] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__F3DBC5726E4041C3]    Script Date: 7/16/2026 10:13:15 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[CustomerAddresses] ADD  DEFAULT ((0)) FOR [is_default]
GO
ALTER TABLE [dbo].[Import_Receipt] ADD  DEFAULT (getdate()) FOR [import_date]
GO
ALTER TABLE [dbo].[Inventory] ADD  DEFAULT (getdate()) FOR [last_updated]
GO
ALTER TABLE [dbo].[Inventory_Batch] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [discount_price]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((10)) FOR [low_stock_threshold]
GO
ALTER TABLE [dbo].[Product_Image] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Product_Packaging] ADD  DEFAULT ((0.00)) FOR [price_adjustment]
GO
ALTER TABLE [dbo].[Product_Weight_Variant] ADD  DEFAULT ((0.00)) FOR [price_adjustment]
GO
ALTER TABLE [dbo].[Promotions] ADD  DEFAULT ((0)) FOR [min_order_value]
GO
ALTER TABLE [dbo].[ResetPasswordToken] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Sale_Order] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[Sale_Order] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Sale_Order] ADD  DEFAULT ((0)) FOR [shipping_fee]
GO
ALTER TABLE [dbo].[Sale_Order] ADD  DEFAULT ((0)) FOR [total_payment]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[Cart] ([cart_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Import_Order]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Import_Order_Item]  WITH CHECK ADD FOREIGN KEY([import_order_id])
REFERENCES [dbo].[Import_Order] ([import_order_id])
GO
ALTER TABLE [dbo].[Import_Order_Item]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Product_Category] ([category_id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ShopOwner] FOREIGN KEY([shop_owner_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ShopOwner]
GO
ALTER TABLE [dbo].[Product_Image]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_Packaging]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Product_Weight_Variant]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ResetPasswordToken]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Role_Permission]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[Permission] ([permission_id])
GO
ALTER TABLE [dbo].[Role_Permission]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Sale_Order]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Sale_Order]  WITH CHECK ADD FOREIGN KEY([shipper_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Sale_Order_Item]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Sale_Order_Item]  WITH CHECK ADD FOREIGN KEY([sale_order_id])
REFERENCES [dbo].[Sale_Order] ([sale_order_id])
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Cart_Item]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
